# Dependencies
node_modules/
package-lock.json

# Local env & config
.env
.env.local
android/local.properties

# Android Gradle cache & build outputs
.gradle/
android/.gradle/
android/build/
android/app/build/
android/app/src/main/assets/public/
android/capacitor-cordova-android-plugins/build/

# IDE files
.idea/
.vscode/
*.iml

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db
